*{
    padding: 0;
    margin: 0;

}

body{
    background: #f3f4fb;
    font-family: 'Inter', sans-serif;
    
 -webkit-font-smoothing:antialiased; /* Deixa as fontes um pouco mais atraentes, mas e pouco perceptivel. */
}
.header,.sunset_sunrise, .temp_details {
    max-width: 600px;
    margin: 0 auto;
}

/* header */
.header{
    padding: 0 30px;
}

.city-search-bar{
    display: flex;
    justify-content: center;/* Essa propriedade somente da certo se estivermos usando o display flex. */
    margin-top: 30px;
    align-items: center;
}

.input{
    width:100% ;
    border: none;
    height: 40px;
    padding: 0 15px;
    border-radius: 10px 0 0 10px;
    appearance: none; /* necessário colocar, pois produtos da apple pode não identificar ex: iphone e macbook, assim deixando o site desconfigurado ou "feio" */
    margin-right: -15px;
}

.button-icon{
    cursor: pointer;
    /* min-width;
    min-height: A propriedade CSS define a altura mínima de um elemento. */
    min-width: 50px;
    min-height: 50px;
    border: none;
    border-radius: 100%;
    background: #393939;
    color: #f3f4fb;
    display: flex;


    /* Essas propriedade somente da certo se estivermos usando o display flex. */
    align-items: center;
    justify-content: center;

    transition: 0.2s;
    /* tempo de transição do curso quando passa em cima do icone */

    /* é utilizado para adicionar efeitos de sombra em volta de um elemento */box-shadow: rgb(50, 50, 93,0.25) 0px 13px 27px -5px , rgb(0,0,0,0.3) 0px 8px 16px -8px ;
    
}

.button-icon:hover{
    filter: brightness(1.25);
    /* propriedade para deixar transparente quando o mouse passa em cima  */
}

.current_date, .city_name {
    font-family: 'Ubuntu', sans-serif;
}
.current_date{
    color: #a2a2be;
    font-size: 14px;
    margin-top: 15px;
}
.city_name{
    font-weight: 500/* deixa a font mais grossa tipo strong */;
    font-size: 20px;
    margin-top: 6px;
}

/* Current Temperature */

.current_temp{
 
    display: flex;

    /* Essas propriedade somente da certo se estivermos usando o display flex. */
    flex-direction: column;
    align-items: center;

    
    margin-top: 30px;
}

.current_temp_icon{
    width: 125px;
    margin-top: 15px;
}

.current_temp_description:first-letter{
    color: #b6aef0;
    font-weight: 500;
    font-size: 24px;
    margin-top: 30px;
    text-transform: uppercase;
}

.current_temp_description{
    color: #b6aef0;
    font-weight: 500;
    font-size: 24px;
    margin-top: 30px;

}
.current_temp_info_label{
    margin-top: 15px;
    color: #a2a2be;

}

.current_temp_current_temp{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}

/* bottom-container */

.bottom-container{
  
    background: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 25px 25px 0 0;
    box-shadow: rgb(50,50,93, 0.25) 0px 2px 5px -1px, rgb(0 ,0,0,0.3) 0px 1px 3px -1px;
}

.temp_details{
    display: flex;
    margin-top: 30px;
}

.temp_details_item{
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    border-right: 1px solid #a2a2be;
}

.temp_details_item:last-child{
border: none;
/* last child pega o ultimo elemento do grupo */
}

.temp_details_label{
    color: #a2a2be;
    
}

.temp_details_value, 
.sunset_sunrise_value {
    font-weight: 500;
    margin-top: 7px;
}

/*sunset_sunrise*/
.sunset_sunrise{
    display: flex;
    margin: 30px auto;
}

.sunset_sunrise_item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}



